@import 'color-swatches'

// Globals
$base-color: $turquoise
$base-dark-color: $midnight-blue

$body-bg-primary: $silver
$body-bg-secondary: $asbestos

$wrapper-corner-width: 15px
$sidebar-width: 85px
$sidebar-bg: $base-dark-color

$dock-bg: $sidebar-bg
$dock-active-icon-color: $base-color

$animation-duration: .4s

// Bootstrap Overrides

$brand-primary: $base-color

$navbar-bg: rgba(0,0,0,0)
$navbar-brand-color: $midnight-blue
$navbar-brand-hover-color: $wet-asphalt

$breadcrumb-bg: $clouds
$panel-heading-bg: $clouds

$dropdown-bg: $sidebar-bg
$dropdown-border: darken($dropdown-bg, 10) !default
$dropdown-divider-bg: $dropdown-border
$dropdown-link-color: $clouds !default