@import 'compass'
@import 'variables'
@import 'mixins'
@import 'bootstrap'

// Bootstrap overrides
.navbar-nav > li > .dropdown-menu
  margin-top: -10px
  +border-radius(5px)
  &:after
    content: ''
    display: inline-block
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-bottom: 6px solid $dropdown-bg
    position: absolute
    top: -6px
    right: 20px


body.main
  padding: 5px
  background-color: $body-bg-primary
  //+background-image(linear-gradient(left, $body-bg-primary, $body-bg-secondary))

.navbar-brand
  font-size: 1.6em

.sprite-image
  background-image: url("../images/sprite.png")

#outer-wrapper
  position: absolute
  top: 60px
  bottom: 0
  left: 20px
  right: 20px
  border: 1px solid rgba(0,0,0, .15)
  +border-top-left-radius($wrapper-corner-width)
  +border-top-right-radius($wrapper-corner-width)
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03)
  -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03)
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03)
  overflow: hidden

#content, #sidebar
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

#sidebar
  background-color: $sidebar-bg
  width: $sidebar-width
  z-index: 1
  ul#dock
    margin: 0 0 0 0
    padding: 0
    width: $sidebar-width
    text-align: center
    color: $clouds
    border-right: 1px solid $dropdown-border
    li.launcher
      list-style: none
      margin-top: 15px
      cursor: pointer
      > i
        display: block
        font-size: 2.5em
        margin-bottom: -2px
      > a
        text-decoration: none
        color: $clouds
        font-size: $dock-link-font-size
      ul.dropdown-menu
        border-left-width: 0
        text-align: left
        position: absolute
        margin-left: 82px
        top: 80px
        > li > a
          padding: 5px 20px
        li.dropdown-header
          +border-radius(4px)
          background-color: $dropdown-border
          color: $dock-active-icon-color
          margin-top: -5px
          padding: 5px 20px
          &:before
            +rotate(45deg)
            position: absolute
            margin-top: 5px
            margin-left: -25px
            width: 10px
            height: 10px
            background-color: $dropdown-border
            content: " "
            display: inline-block

      &:hover, &.active
        > i, > a
          +animate-property(color, $animation-duration, ease-in-out)
          color: $dock-active-icon-color
        &:before
          +rotate(45deg)
          content: ''
          display: inline-block
          width: 10px
          height: 10px
          background-color: white
          position: absolute
          right: -5px
          margin-top: 22px


#content
  background-color: $body-bg
  padding: 20px
  left: $sidebar-width
  .breadcrumb
    +border-radius(0)
    padding: 10px 20px
    margin: -20px -20px 20px -20px

#toolbar
  position: relative
  top: 10px

#beaker
  @extend .sprite-image
  position: absolute
  bottom: 5px
  background-position: 0 0
  width: 12px
  height: 24px
  background-size: 100px
  background-repeat: no-repeat
  margin-left: 33px
