@import 'compass'
@import 'variables'
@import 'mixins'
@import 'bootstrap'


body.main
  padding: 5px
  background-color: $body-bg-primary
  //+background-image(linear-gradient(left, $body-bg-primary, $body-bg-secondary))

.navbar-brand
  font-size: 1.6em

#outer-wrapper
  position: absolute
  top: 60px
  bottom: 0
  left: 20px
  right: 20px
  border: 1px solid rgba(0,0,0, .2)
  +border-top-left-radius($wrapper-corner-width)
  +border-top-right-radius($wrapper-corner-width)
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03)
  -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03)
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03)
  overflow: hidden

#content, #sidebar
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

#sidebar
  background-color: $sidebar-bg
  width: $sidebar-width
  z-index: 1

  #dock
    width: $sidebar-width
    text-align: center
    color: $clouds
    .launcher
      margin-top: 15px
      cursor: pointer
      i
        display: block
        font-size: 2.5em
      a
        text-decoration: none
        color: $clouds
        font-size: .7em
      &:hover, &.active
        i, a
          +animate-property(font-size, $animation-duration, ease-in-out)
          +animate-property(color, $animation-duration, ease-in-out)
          color: $dock-active-icon-color
      &.active
        &:before
          content: ""
          background: $dock-active-icon-color
          position: absolute
          height: 55px
          right: -2px
          width: 4px


#content
  background-color: $body-bg
  padding: 20px
  left: $sidebar-width

#toolbar
  position: relative
  top: 10px