%i#toggle.icon-align-justify.icon-large

%ul#dock
  %li.launcher.active
    %i.icon-dashboard
    %a{href: '#'} Dashboard
  %li.launcher
    %i.icon-user
    %a{href: '#'} Forms
  %li.launcher.dropdown.hover
    %i.icon-flag
    %a{href: '#'} Reports
    %ul.dropdown-menu
      %li.dropdown-header Launcher description
      %li
        %a{:href => '#'} Action
      %li
        %a{:href => '#'} Another action
      %li
        %a{:href => '#'} Something else here
  %li.launcher
    %i.icon-picture
    %a{href: '#'} Pictures
  %li.launcher
    %i.icon-bookmark
    %a{href: '#'} Bookmarks
  %li.launcher
    %i.icon-cloud
    %a{href: '#'} Backup
  %li.launcher
    %i.icon-bug
    %a{href: '#'} Feedback

#beaker{data: {toggle: 'tooltip'}, title: 'Made by lab2023'}