.navbar
  %a.navbar-brand{:href => "#"}
    %i.icon-beer
    Hierapolis
  %ul.nav.navbar-nav.pull-right
    %li.active
      .navbar-text
        %strong John DOE
        =image_tag 'http://lorempixel.com/30/30/nature', class: 'img-circle'
      %a{:href => "#"} Home
