.navbar
  %a.navbar-brand{:href => '#'}
    %i.icon-beer
    Hierapolis
  %ul.nav.navbar-nav.pull-right
    %li
      %a Hello
    %li
      %a World
    %li.dropdown.user
      %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
        %strong John DOE
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => '#'} Action
        %li
          %a{:href => '#'} Another action
        %li
          %a{:href => '#'} Something else here
        %li.divider
        %li
          %a{:href => '#'} Separated link
