#toolbar
  .btn-group
    %button.btn{title: 'Building'}
      %i.icon-building
    %button.btn{title: 'Laptop'}
      %i.icon-laptop
    %button.btn{title: 'Calendar'}
      %i.icon-calendar
      %span.badge 3
    %button.btn{title: 'Lemon'}
      %i.icon-lemon
  .label.label-danger
    Danger
  .label.label-info
    Info