#navbar.navbar.navbar-default
  %a.navbar-brand{:href => '#'}
    %i.icon-beer
    Hierapolis
  %ul.nav.navbar-nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{data: {toggle: 'dropdown'}, :href => '#'}
        %i.icon-envelope
        Messages
        %span.badge 5
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => '#'} New message
        %li
          %a{:href => '#'} Inbox
        %li
          %a{:href => '#'} Outbox
        %li
          %a{:href => '#'} Trash
    %li
      %a{href: '#'}
        %i.icon-cog
        Settings
    %li.dropdown.user
      %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
        %i.icon-user
        %strong John DOE
        =image_tag lorem.image('20x20', color: '#777'), class: 'img-rounded'
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => '#'} Edit Profile
        %li.divider
        %li
          =link_to 'Sign out', 'index.html'
