- page 'Forgot password', 'forgot-password'

.row
  .col-lg-12
    %form
      %fieldset
        %legend=t(:forgot_password_heading)
      .form-group
        %label.control-label=t(:login_email)
        %input.form-control{placeholder: t(:login_email_hint), type: 'text'}/

      =link_to t(:send), 'index.html', class: 'btn btn-default'
      =link_to t(:go_back), 'index.html'
