- page 'Forgot password', 'forgot-password'

.row
  .col-lg-12
    %h4
      Reset your password
    %form
      .form-group
        %input.form-control{placeholder: 'Email address', type: 'text'}/

      =link_to 'Send', 'index.html', class: 'btn btn-default'
      =link_to 'Go back', 'index.html'
