- page 'Sign in', 'sign-in'

.row
  .col-lg-12
    .brand.text-center
      %h1
        .logo-icon
          %i.icon-beer
        Hierapolis
.row
  .col-lg-12
    %h4
      Login to your account
    %form
      .form-group
        %input.form-control{placeholder: 'Email address', type: 'text'}/
      .form-group
        %input.form-control{placeholder: 'Password', type: 'password'}/
      .text-center
        .checkbox
          %label
            %input{:type => 'checkbox'}/
            Remember me on this computer
        =link_to 'Sign in', 'dashboard.html', class: 'btn btn-default'
        %br/
        =link_to 'Forgot password?', 'forgot_password.html'
