- page 'Tables', 'tables'

.panel
  .panel-heading
    %i.icon-edit.icon-large
    Default Table
  .panel-tools
    .btn-group
      %a.btn{href: '#'}
        %i.icon-wrench
        Settings
      %a.btn{href: '#'}
        %i.icon-filter
        Filters
      %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Reload'}
        %i.icon-refresh
    .badge 3 record
  .panel-body.no-padding
    %table.table
      %thead
        %tr
          %th #
          %th First Name
          %th Last Name
          %th Username
      %tbody
        %tr
          %td 1
          %td Mark
          %td Otto
          %td @mdo
        %tr
          %td 2
          %td Jacob
          %td Thornton
          %td @fat
        %tr
          %td 3
          %td Larry
          %td the Bird
          %td @twitter

.row
  .col-lg-6
    .panel
      .panel-heading
        %i.icon-edit.icon-large
        Bordered Table
      .panel-body
        %table.table.table-bordered
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Username
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %td 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %td 3
              %td Larry
              %td the Bird
              %td @twitter

  .col-lg-6
    .panel
      .panel-heading
        %i.icon-edit.icon-large
        Default Table
      .panel-body
        %table.table
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Username
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %td 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %td 3
              %td Larry
              %td the Bird
              %td @twitter

.panel
  .panel-heading
    %i.icon-edit.icon-large
    Condensed Table
  .panel-body
    %table.table.table-condensed
      %thead
        %tr
          %th #
          %th First Name
          %th Last Name
          %th Username
      %tbody
        %tr
          %td 1
          %td Mark
          %td Otto
          %td @mdo
        %tr
          %td 2
          %td Jacob
          %td Thornton
          %td @fat
        %tr
          %td 3
          %td Larry
          %td the Bird
          %td @twitter